name: Xcode Build Check
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    if: ${{ !startsWith(github.head_ref || github.ref_name, 'chore/') }}
    name: Build
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: brew bundle

      - name: Generate Project
        run: xcodegen generate

      - name: Build
        run: |
          xcodebuild clean build \
            -project FlashSpace.xcodeproj \
            -scheme FlashSpace \
            -destination 'generic/platform=macOS' \
            -configuration Release | xcbeautify --disable-logging --renderer github-actions
